SloppySoundboard/.idea/compiler.xml
SloppySoundboard/.idea/copyright/profiles_settings.xml
SloppySoundboard/.idea/gradle.xml
SloppySoundboard/.idea/misc.xml
SloppySoundboard/.idea/modules.xml
SloppySoundboard/.idea/runConfigurations.xml
SloppySoundboard/.idea/vcs.xml
